@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
:root{
    --primary-color-text: #06042F;
    --secondary-color-text: #D77699;
}
*{
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
body, html{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    background: #F9FBFC;
    color: var(--primary-color-text);
}
a{
    text-decoration: none;
    color: white;
}
/* Navigation */
.nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
}
.nav_logo{
    height: 100%;
    width: fit-content;
    display: flex;
    font-weight: 700;
    align-items: center;
    color: var(--primary-color-text);
}
.nav_logo:hover{
    opacity: 0.8;
}

.nav_logo img{
    height: 50%;
    width: auto;
}
.nav ul{
    text-decoration: none;
    display: flex;
}
.nav ul li a{
    text-decoration: none;
    margin: 0 1.5rem;
    font-weight: 500;
    position: relative;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.nav ul li a:hover{
    text-decoration: none;
    color: #9947FF;
    transition: 0.5s;
}
.nav ul li a::after{
    width: 0%;
    content: "";
    border-radius: 1rem;
    position: absolute;
    height: 0.1rem;
    bottom: 0;
    visibility: hidden;
    transition: all 0.3s linear 0s;
    left: 0;
    background-color: #9947FF;
}
.nav ul li a:hover::after{
    width: 100%;
    visibility: visible;
    transition: 0.5s;
}

.btn{
    padding: 1rem 1.5rem;
    width: fit-content;
    background-color: #72E942;
    margin: 0.5rem 0;
    border-radius: 8rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.btn:hover{
    filter: brightness(70%);
    transition: 0.5s;
}

/* Showcase */

.showcase{
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 8rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.showcase_text{
    display: flex;
    margin: 2rem 0;
    align-items: center;
    flex-direction: column;
}
.showcase_text h1{
    font-size: 4rem;
    width: 75%;
    text-align: center;
}
.showcase_text p{
    text-align: center;
    width: 50%;
    font-size: 1.5rem;
    font-weight: 500;
    opacity: 0.7;
}
.showcase .btn:hover{
    transform: translateY(10px);
    transition: 0.5s;
}
.showcase_container{
    width: 100%;
    height: 35rem;
    /* background: #06042F; */
    opacity: 0.3;
    justify-content: center;
    display: flex;
}
.showcase_item{
    width: 13rem;
    height: 22rem;
    margin: 1rem;
    background: #9947FF;
    border-radius: 7rem;
}
.showcase_item:nth-child(2), .showcase_item:nth-child(3){
    transform: translateY(6rem);
}

/* Sponsor */

.sponsor {
    padding: 2rem 0;
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: #181B3F;
    flex-direction: column;
    align-items: center;
}

.sponsor p {
    font-size: 3rem;
    font-weight: 500;
    color: #FFFFFF;
}

.sponsor-container {
    width: 100%;
    height: fit-content;
    display: flex;
    margin: 1rem 0;
    justify-content: center;
    flex-wrap: wrap;
}

.sponsor-item {
    background-color: rgba(255, 255, 255, 0.80) ;
    margin: 1rem;
    width: 18rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsor-item img {
    width: 40%;
}

/* Advantage */
.advantage{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.advantage_text{
    display: flex;
    width: 100%;
    margin: 2rem 0;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}
.advantage_text p{
    color: var(--secondary-color-text);
    font-weight: 500;
}
.advantage_text h1{
    font-size: 3rem;
    text-align: center;
}
.advantage_container{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    flex-wrap: wrap;
}
.advantage_item{
    width: 14rem;
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    height: 21rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.1);
}
.advantage_item img{
    width: 4rem;
}
.advantage_item p{
    font-weight: 500;
    font-size: 1.2rem;
}

.advantage_item .title{
    font-weight: 700;
    margin: 1rem 0;
    color: var(--primary-color-text);
}

.about{
    width: 100%;
    height: fit-content;
    padding: 8rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about_img{
    height: 30rem;
    width: 25rem;
    border-radius: 0.5rem;
    border-top-left-radius: 12rem;
    border-top-right-radius: 12rem;
    background: #E9630A;
}
.about_text{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.about_text p{
    font-weight: 700;
    font-size: 1.5rem;
    opacity: 0.5;
}
.about_text .title, .title{
    color: var(--secondary-color-text);
}
.about_text ul{
    display: flex;
    width: 30rem;
    flex-wrap: wrap;
    margin: 1rem 0;
}
.about_text ul li{
    width: 15rem;
    height: 2rem;
    color: #9947FF;
    font-weight: 700;
}
 h1{
    font-size: 3rem;
}
.location{
    width: 100%;
    height: fit-content;
    padding: 8rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.location iframe{
    border-radius: 5px;
    border: 1px solid black;
    width: 30rem;
    height: 20rem;
}
.location_text{
    height: 20rem;
    width: 40%;
    /* background: #06042F; */
}
.location p{
    font-weight: 500;
}
.location .btn:hover{
    transform: translateY(10px);
    transition: 0.5s;
}
.contact{
    width: 100%;
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}
form{
    width: 60%;
    height: fit-content;
    display: flex;
    margin: 3rem 0;
    flex-wrap: wrap;
}
.input{
    width: 20rem;
    height: 3rem;
    border-radius: 3rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
}
#message{
    width: 100%;
    height: 20rem;
    margin: 1rem;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 1rem;
}
.button{
    width: 100%;
    margin: 1rem;
    border-radius: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to right, #9947FF, #407BD2);
    border: 0px solid;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.button:hover{
    transform: translateY(10px);
    transition: 0.5s;
    filter: brightness(70%);
}

footer{
    width: 100%;
    height: fit-content;
    display: flex;
    color: black;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem 0;
    /* border: 1px solid black; */
}
.footer-left{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 20rem;
    font-weight: 500;

}
.footer-right{
    display: flex;
    width: 50%;
    height: 20rem;
    /* border: 1px solid black; */
}
.footer-title{
    display: flex;
    font-weight: 700;
    align-items: center;
    margin: 0 0 1rem 0;
}
.footer-title img{
    width: 3rem;
}
.footer-left > p {
    width: 60%;
    opacity: 0.8;
    margin: 1rem 0;
}
.footer-left-bottom{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.footer-left-bottom h1{
    font-size: 1rem;
    margin: 1rem 0;
}
.footer-address{
    width: 40%;
}
.footer-phone{
    width: 40%;
}

.footer-social h1{
    font-size: 1.6rem;
    margin: 0 0 1rem 0;
}

.footer-social li{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.footer-social img{
    width: 2rem ;
    margin: 0 1rem 0 0;
}

.footer-copyright{
    align-self: flex-end;
    position: relative;
    right: 0;
}

.footer-copyright h3{
    font-size: 1.2rem;
}

@media (max-width: 960px) {
   :root{
    font-size: 14px;
   }
@media (max-width: 820px) {
    :root{
        font-size: 10px;
    }
}
}

